{% extends 'base.html' %}

{% load static %}

{% spaceless %}
    {% block title %}
        <title>Sender Challenge - 403</title>
    {% endblock %}
    {% block content %}
        <div class="container">
            <div class="row" style="text-align: center; padding-top: 20px;">
                <div class="col mx-auto">
                    <fieldset>
                        <legend class="text-center font-weight-bold">
                            <div class="number" data-count="403" style="font-size: 4rem;">403</div>
                        </legend>
                    </fieldset>
                </div>
            </div>
        </div>
    {% endblock %}
{% endspaceless %}
