{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    {% block head %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
 {% block additional_js %}{% endblock %}
</html>
{% endspaceless %}
