{% extends "base.html" %}
{% block head %}
    <title>Sender Challenge Movies Data</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <h1 style="text-align: center;">Movie List</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Description</th>
            <th>RT Score</th>
            <th>Director</th>
            <th>Producer</th>
            <th>Starring</th>
            <th>Created</th>
            <th>Last API update</th>
        </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.release_dt }}</td>
                <td>{{ movie.description }}</td>
                <td>{{ movie.rt_score }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.producer }}</td>
                <td>{{ movie.get_movie_people }}</td>
                <td>{{ movie.dt_created }}</td>
                <td>{{ movie.dt_modified }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
